* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: lightskyblue;
  color: white;
  font-size: 25px;
}

h1 {
  color: #f1b012;
}

img {
  width: 65%;
}
a {
  text-decoration: none;
}

.two-col {
  display: flex;
  width: 85%;
  margin: 100px auto;
}
.left {
  width: 35%;
}
.right {
  width: 65%;
  padding: 60px;
}

nav {
  display: flex;
}

nav a {
  flex: 1;
  display: inline-block;
  margin-right: 20px;
}

nav a:last-child {
  margin-right: 0;
}

.gallery {
  display: flex;
  width: 85%; /* adjusts the width of the section */
  margin: auto; /* centers the section */
}
.gallery div {
  flex: 1;
  margin-right: 40px;
  margin-bottom: 40px;
  /* max-width: 300px; */
}
.gallery div:last-child {
  margin-right: 0;
}
.gallery img {
  width: 100%;
}
