@font-face {font-family: "belligan";
  src: url("belligan/ed9f3a8c6ab3806cdac583662d618d13.woff") format("woff");
}

* {
  box-sizing: border-box;
}
body {
  margin:0;
  background-color: lightskyblue;
  color: white;
  font-size: 25px;
}

h1 {
  color: white;
  font-family: belligan;
  font-size: 150px;
  position: relative;
  bottom: 55px;
}

h2 {
  color: #F1B012;
  margin-top: 50px;
}

img {width: 65%;}

.two-col {
  display: flex;
  width: 85%;
  margin-left: 125px;
}
.left {
  width: 50%;
}
.right {
  width: 50%;
  padding-top: 80px;
}

/*-----------------------------------------------------*/

nav { 
  display: flex;
  }

nav a {
    flex: 1;
    display: inline-block;
    margin-right: 20px;
  }

nav a:last-child {
  margin-right: 0;
  }

/*-----------------------------------------------------*/

svg {
  width: 150%;
  height: auto;
  margin-left: -150px;
  margin-top: -200px;
}

#Paddle{
  animation:Paddle 2s infinite;
  transform-origin:center;
  animation-direction: alternate;
}

@keyframes Paddle{
  from{
      transform:translateX(0);
  }
  to{
      transform:translateX(50px);    }
}

#Thermometer{
  animation:Thermometer 5s ease;
  animation-fill-mode:forwards;
  transform-origin:center;
  transform-box:fill-box;
}

@keyframes Thermometer{
  from{
      transform:rotate(0deg)
  }
  to{
      transform:rotate(280deg)
  }
}