* {box-sizing: border-box;}
body {
  margin:0;
  background-color: lightskyblue;
  color: white;
  font-size: 25px;
}

h1 {
  color: #F1B012;
}

img { width: 65%;}
a {text-decoration:none;}

.two-col {
  display:flex;
  width: 85%;
  margin: 100px auto;
}
.left {
  width: 35%;
}
.right {
  width: 65%;
  padding: 0 60px;
}

nav { 
  display: flex;
  }

nav a {
    flex: 1;
    display: inline-block;
    margin-right: 20px;
  }

nav a:last-child {
  margin-right: 0;
  }