body {
  margin: 0;
  background-color: lightskyblue;
  color: white;
  font-size: 25px;
  font-family: Belligan;
}
img {
  width: 100%;
}
h1 {
  color: #f1b012;
}

.one-col {
  width: 75%;
  margin: 100px auto;
}

.bg-img {
  background-image: "http://placekitten.com/500/600";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.topnav {
  position: absolute;
  top: 20px;
  right: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 150px;
}
.topnav a {
  color: white;
}
.topnav a:hover {
  color: lightskyblue;
}
.topnav .contactnav {
  margin-left: -50px;
}
.topnav div {
  margin-bottom: 50px;
}
.container {
  margin: 20px;
  width: 40%;
  margin: auto;
  position: relative;
}

.beers {
  color: #f2f2f2;
  text-decoration: none;
  font-family: belligan;
  font-size: 17px;
}

.brewery {
  color: #f2f2f2;
  text-decoration: none;
  font-family: belligan;
  font-size: 17px;
}

.about {
  color: #f2f2f2;
  text-decoration: none;
  font-family: belligan;
  font-size: 17px;
}

.contact {
  color: #f2f2f2;
  text-decoration: none;
  font-family: belligan;
  font-size: 17px;
}
