body {
  margin:0;
  background-color: lightskyblue;
  color: white;
  font-size: 25px;
  font-family: Belligan;
}

h1 {
  color: #F1B012;
}

.one-col {
  width: 75%;
  margin: 100px auto;
}

.bg-img {
  background-image: "http://placekitten.com/500/600";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.topnav {
  overflow: hidden;
}

.topnav a:hover {
  color: lightskyblue;
}

.container {
  margin: 20px;
  width: auto;
}

.beers {
  color: #f2f2f2;
  text-decoration: none;
  font-family: belligan;
  font-size: 17px;
}

.brewery {
  color: #f2f2f2;
  text-decoration: none;
  font-family: belligan;
  font-size: 17px;
}

.about {
  color: #f2f2f2;
  text-decoration: none;
  font-family: belligan;
  font-size: 17px;
}

.contact {
  color: #f2f2f2;
  text-decoration: none;
  font-family: belligan;
  font-size: 17px;
}